table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color:#ccc;;
  color: white;
}
body {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 16px 12px;
    overflow: hidden;
}
.contenedor-pag {
    margin-left: 20px;
}

#cabecera {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.menu {
    margin: 0;
    color: white;
    padding: 16px 12px;
    text-align: center;
    text-decoration: none;
    background-color: #333;  
}
.boton-menu {
    display: inline-block;
    padding: 16px 0px;
}

.menu:hover {
    background-color: #111;
}

#titulo {
    margin-left: 20px;
}
